*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: bisque;
}

.imgbox{
    border-radius: 50%;
    /* made responsive */
    width: 40vw;   
    height: 40vw;
    position: relative;
    margin: auto ;
    background: url(./clock2.png) no-repeat;
    background-size: 100%;
}

#hour,#min,#sec{
    background: black;
    position: absolute;
    opacity: 0.8;
    transform-origin: bottom;
}

#min{
    top: 18%;
    left: 49.3%;
    height: 32%;
    width: 1.2%;
    /* display: none; */
}

#sec {
    top: 15%;
    left: 49.6%;
    height: 36%;
    width: 0.6%;
    /* display: none; */
}

#hour {
    top: 28%;
    left: 48.95%;
    height: 22%;
    width: 1.9%;
}